certifi==2026.5.20
charset-normalizer==3.4.7
colorama==0.4.6
defusedxml==0.7.1
idna==3.18
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
pytest==8.3.5
requests==2.34.2
urllib3==2.7.0
youtube-transcript-api==1.1.0
